<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Categorical-encoding-for-Categorical-variables" data-toc-modified-id="Categorical-encoding-for-Categorical-variables-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Categorical encoding for Categorical variables</a></span><ul class="toc-item"><li><span><a href="#Cat_few" data-toc-modified-id="Cat_few-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Cat_few</a></span><ul class="toc-item"><li><span><a href="#One-Hot-Encoding-(OHE)" data-toc-modified-id="One-Hot-Encoding-(OHE)-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span><strong>One Hot Encoding (OHE)</strong></a></span></li><li><span><a href="#Integer-Encoding" data-toc-modified-id="Integer-Encoding-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span><strong>Integer Encoding</strong></a></span></li><li><span><a href="#Count-Encoding" data-toc-modified-id="Count-Encoding-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span><strong>Count Encoding</strong></a></span></li><li><span><a href="#Evaluate-Random-Forest-Performances-and-Logistic-Regression-Performances" data-toc-modified-id="Evaluate-Random-Forest-Performances-and-Logistic-Regression-Performances-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span><strong>Evaluate Random Forest Performances and Logistic Regression Performances</strong></a></span></li></ul></li><li><span><a href="#Cat_many" data-toc-modified-id="Cat_many-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Cat_many</a></span><ul class="toc-item"><li><span><a href="#Integer-Encoding" data-toc-modified-id="Integer-Encoding-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span><strong>Integer Encoding</strong></a></span></li><li><span><a href="#Count-Encoding" data-toc-modified-id="Count-Encoding-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span><strong>Count Encoding</strong></a></span></li><li><span><a href="#Evaluate-Random-Forest-Performances-and-Logistic-Regression-Performances" data-toc-modified-id="Evaluate-Random-Forest-Performances-and-Logistic-Regression-Performances-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span><strong>Evaluate Random Forest Performances and Logistic Regression Performances</strong></a></span></li></ul></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></li><li><span><a href="#Feature-scaling-technique-for-numerical-variables" data-toc-modified-id="Feature-scaling-technique-for-numerical-variables-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Feature scaling technique for numerical variables</a></span><ul class="toc-item"><li><span><a href="#Standardization" data-toc-modified-id="Standardization-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Standardization</a></span></li><li><span><a href="#Mean-normalization" data-toc-modified-id="Mean-normalization-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Mean normalization</a></span></li><li><span><a href="#MinMaxScaling" data-toc-modified-id="MinMaxScaling-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>MinMaxScaling</a></span></li><li><span><a href="#MaxAbsScaling" data-toc-modified-id="MaxAbsScaling-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>MaxAbsScaling</a></span></li><li><span><a href="#RobustScaling" data-toc-modified-id="RobustScaling-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>RobustScaling</a></span></li><li><span><a href="#Evaluate-Random-Forests-and-Logistic-Regression-Performances" data-toc-modified-id="Evaluate-Random-Forests-and-Logistic-Regression-Performances-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Evaluate Random Forests and Logistic Regression Performances</a></span></li></ul></li></ul></div>

# Bank Marketing Feature Engineering

In this notebook, I will perform feature engineering, feature selection and under-sampling or over-sampling dataset and evaluate which methods are best to build models.

In [63]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

from pathlib import Path
import os
os.getcwd()

'/Users/yejiseoung/Dropbox/My Mac (Yejis-MacBook-Pro.local)/Documents/Projects/BankMarketing'

In [2]:
path = Path('/Users/yejiseoung/Dropbox/My Mac (Yejis-MacBook-Pro.local)/Documents/Projects/BankMarketing')

In [3]:
# for the model
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.metrics import (
    roc_auc_score, 
    plot_roc_curve, 
    precision_recall_curve,
    plot_precision_recall_curve,
    average_precision_score,
    auc
)

from yellowbrick.classifier import ROCAUC, PrecisionRecallCurve

from sklearn.pipeline import Pipeline

# for feature engineering
from feature_engine import encoding as ce

In [4]:
data = pd.read_csv(path/'cleaned_data.csv')
print(data.shape)
data.drop('Unnamed: 0', axis=1, inplace=True)
data.head()

(41185, 22)

,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,age_group,pdays_group
0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,51-60,Not contacted
1,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,51-60,Not contacted
2,services,married,high.school,no,yes,no,telephone,may,mon,226,1,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,31-40,Not contacted
3,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,31-40,Not contacted
4,services,married,high.school,no,no,yes,telephone,may,mon,307,1,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,51-60,Not contacted

In [5]:
data.dtypes

job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
age_group          object
pdays_group        object
dtype: object

In [6]:
cat_vars = [var for var in data.columns if data[var].dtype == 'O' and var != 'y']
num_vars = [var for var in data.columns if data[var].dtype != 'O' and var != 'y']

print('The number of categorical variables: {}'.format(len(cat_vars)))
print('The number of numerical variables: {}'.format(len(num_vars)))

The number of categorical variables: 12
The number of numerical variables: 8

In [7]:
target = 'y'

## Categorical encoding for Categorical variables

In this section, I will compare the performance of the different feature categorical encoding techniques, and choose the best techiques for categorical variables.

In [8]:
# how many labels are in each category?
for cat in cat_vars:
    print(cat, 'has {} labels'.format(data[cat].nunique()))
    print(data[cat].unique())
    print()

job has 12 labels
['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']

marital has 4 labels
['married' 'single' 'divorced' 'unknown']

education has 8 labels
['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']

default has 3 labels
['no' 'unknown' 'yes']

housing has 3 labels
['no' 'yes' 'unknown']

loan has 3 labels
['no' 'yes' 'unknown']

contact has 2 labels
['telephone' 'cellular']

month has 10 labels
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']

day_of_week has 5 labels
['mon' 'tue' 'wed' 'thu' 'fri']

poutcome has 3 labels
['nonexistent' 'failure' 'success']

age_group has 5 labels
['51-60' '31-40' '41-50' '17-30' '>60']

pdays_group has 4 labels
['Not contacted' '1w' '2w' '>2w']

In [9]:
cat_few = [cat for cat in cat_vars if data[cat].nunique() < 6]
cat_many = [cat for cat in cat_vars if cat not in cat_few]

cat_few

['marital',
 'default',
 'housing',
 'loan',
 'contact',
 'day_of_week',
 'poutcome',
 'age_group',
 'pdays_group']

In [10]:
cat_many

['job', 'education', 'month']

### Cat_few

Before I perform feature engineering techiques, I need to separate train and test set.

In [11]:
tmp = data.drop(num_vars, axis=1)
tmp = tmp.drop(['education', 'job', 'month'], axis=1)
tmp.head()

,marital,default,housing,loan,contact,day_of_week,poutcome,y,age_group,pdays_group
0,married,no,no,no,telephone,mon,nonexistent,no,51-60,Not contacted
1,married,unknown,no,no,telephone,mon,nonexistent,no,51-60,Not contacted
2,married,no,yes,no,telephone,mon,nonexistent,no,31-40,Not contacted
3,married,no,no,no,telephone,mon,nonexistent,no,31-40,Not contacted
4,married,no,no,yes,telephone,mon,nonexistent,no,51-60,Not contacted

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    tmp.drop(target, axis=1),
    tmp[target],
    test_size=0.3, # percentage of test set
    random_state=0
)

X_train.shape, X_test.shape

((28829, 9), (12356, 9))

- cat_few
    - 1) OHE
    - 2) Integer
    - 3) Count

#### __One Hot Encoding (OHE)__

One hot encoding, consists in encoding each categorical variable with different boolean variables (dummy variables) which take values 0 or 1, indicating if a category is present in an observation.

In [13]:
X_train_ohe = X_train.copy()
X_test_ohe = X_test.copy()

In [14]:
ohe_enc = ce.OneHotEncoder(
    top_categories=None,
    variables=cat_few,
    drop_last=True
)

ohe_enc.fit(X_train_ohe)

OneHotEncoder(drop_last=True,
              variables=['marital', 'default', 'housing', 'loan', 'contact',
                         'day_of_week', 'poutcome', 'age_group',
                         'pdays_group'])

In [15]:
X_train_ohe = ohe_enc.transform(X_train_ohe)
X_test_ohe = ohe_enc.transform(X_test_ohe)

In [16]:
X_train_ohe.head()

,marital_married,marital_divorced,marital_single,default_no,default_unknown,housing_yes,housing_no,loan_no,loan_unknown,contact_cellular,day_of_week_thu,day_of_week_fri,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_failure,age_group_51-60,age_group_31-40,age_group_41-50,age_group_17-30,pdays_group_Not contacted,pdays_group_1w,pdays_group_>2w
19618,1,0,0,1,0,1,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1,0,0
1518,1,0,0,0,1,0,1,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0
34980,1,0,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0
24958,1,0,0,1,0,1,0,1,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0
16697,0,1,0,1,0,0,1,1,0,1,0,0,0,1,1,0,0,0,0,1,1,0,0

#### __Integer Encoding__

Integer encoding consist in replacing the categories by digits from 1 to n, where n is the number of distinct categories of the variable. 

The numbers are assigned arbitrarily. This encoding method allows for quick benchmarking of machine learning models.

In [17]:
X_train_ing = X_train.copy()
X_test_ing = X_test.copy()

In [18]:
ordinal_enc = ce.OrdinalEncoder(
    encoding_method='arbitrary',
    variables=cat_few)

ordinal_enc.fit(X_train_ing)

OrdinalEncoder(encoding_method='arbitrary',
               variables=['marital', 'default', 'housing', 'loan', 'contact',
                          'day_of_week', 'poutcome', 'age_group',
                          'pdays_group'])

In [19]:
X_train_ing = ordinal_enc.transform(X_train_ing)
X_test_ing = ordinal_enc.transform(X_test_ing)

In [20]:
X_train_ing.head()

,marital,default,housing,loan,contact,day_of_week,poutcome,age_group,pdays_group
19618,0,0,0,0,0,0,0,0,0
1518,0,1,1,0,1,0,0,1,0
34980,0,0,0,0,0,1,1,2,0
24958,0,0,0,0,1,2,0,1,0
16697,1,0,1,0,0,3,0,3,0

#### __Count Encoding__

In count encoding we replace the categories by the count of the observations that show that category in the dataset. Similarly, we can replace the category by the frequency- or percentage- of observations in the dataset. That is, if 10 of our 100 observations show the color blue, we would replace blue by 10 if doing count encoding, or by 0.1 if replacing by the frequency. These techniques capture the representation of each label in a dataset, but the encoding may not necessarily be predictive of the outcome. These are however, very popular encoding methods in Kaggle competitions. 

The assumption of thie technique is that the number of observations shown by each variable is somewhat informative of the predictive power of the category.

In [21]:
X_train_cont = X_train.copy()
X_test_cont = X_test.copy()

In [22]:
count_enc = ce.CountFrequencyEncoder(
    encoding_method='count', # to do frequency -> encoding_method='frequency'
    variables=cat_few)

count_enc.fit(X_train_cont)

CountFrequencyEncoder(variables=['marital', 'default', 'housing', 'loan',
                                 'contact', 'day_of_week', 'poutcome',
                                 'age_group', 'pdays_group'])

In [23]:
X_train_cont = count_enc.transform(X_train_cont)
X_test_cont = count_enc.transform(X_test_cont)

In [24]:
X_train_cont.head()

,marital,default,housing,loan,contact,day_of_week,poutcome,age_group,pdays_group
19618,17389,22802,15097,23811,18283,6072,24981,4290,27806
1518,17389,6024,13050,23811,10546,6072,24981,11519,27806
34980,17389,22802,15097,23811,18283,5469,2918,7157,27806
24958,17389,22802,15097,23811,10546,5579,24981,11519,27806
16697,3203,22802,13050,23811,18283,5757,24981,5201,27806

#### __Evaluate Random Forest Performances and Logistic Regression Performances__

In [25]:
def run_RFs(X_train, X_test, y_train, y_test):
    
    rf = RandomForestClassifier(n_estimators=40, random_state=39, max_depth=3)
    rf.fit(X_train, y_train)
    
    print('Train set')
    pred = rf.predict_proba(X_train)
    print('Random Forests roc-auc: {}'.format(roc_auc_score(y_train, pred[:, 1])))
    
    print('Test set')
    pred = rf.predict_proba(X_test)
    print('Random Forests roc-auc: {}'.format(roc_auc_score(y_test, pred[:, 1])))

In [26]:
# OHE
run_RFs(X_train_ohe, X_test_ohe, y_train, y_test)

Train set
Random Forests roc-auc: 0.7108919390095485
Test set
Random Forests roc-auc: 0.7229617236848682

In [27]:
# Integer encoding
run_RFs(X_train_ing, X_test_ing, y_train, y_test)

Train set
Random Forests roc-auc: 0.7214695488630182
Test set
Random Forests roc-auc: 0.7345120376655144

In [29]:
# counts
run_RFs(X_train_cont, X_test_cont, y_train, y_test)

Train set
Random Forests roc-auc: 0.7191837214392108
Test set
Random Forests roc-auc: 0.7357399850499257

Comparing the roc_auc values on the test sets, we can see that one hot encoding got the worse performance, because trees do not perform well in datasets with big feature spaces.

In [30]:
def run_logit(X_train, X_test, y_train, y_test):
    
    logit = LogisticRegression(random_state=44, C=0.01, max_iter=100)
    logit.fit(X_train, y_train)
    
    print('Train set')
    pred = logit.predict_proba(X_train)
    print('Logistic Regression roc-auc: {}'.format(roc_auc_score(y_train, pred[:,1])))
    
    print('Test set')
    pred = logit.predict_proba(X_test)
    print('Logistic Regression roc-auc: {}'.format(roc_auc_score(y_test, pred[:, 1])))

In [31]:
# OHE
run_logit(X_train_ohe, X_test_ohe, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.7193925853729305
Test set
Logistic Regression roc-auc: 0.7318272578935414

In [32]:
# Integer encoding
run_logit(X_train_ing, X_test_ing, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.7081959877111799
Test set
Logistic Regression roc-auc: 0.7176665311094547

In [33]:
# counts
run_logit(X_train_cont, X_test_cont, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.7152778357472294
Test set
Logistic Regression roc-auc: 0.7264201512934829

### Cat_many

Before I perform feature engineering techiques, I need to separate train and test set.

- cat_many
    - 1) Integer
    - 2) Count 
    
Since cat_many has a lot of labels in categories, I will not perform One Hot Encoding because it will increase feature spaces which can cause over-fitting.

In [34]:
cat_many

['job', 'education', 'month']

In [36]:
tmp = data[['job', 'education', 'month', 'y']]
tmp.head()

         job    education month   y
0  housemaid     basic.4y   may  no
1   services  high.school   may  no
2   services  high.school   may  no
3     admin.     basic.6y   may  no
4   services  high.school   may  no

In [40]:
# separate train and test data
X_train, X_test, y_train, y_test = train_test_split(
    tmp.drop(target, axis=1),
    tmp[target],
    test_size=0.3, # percentage of test set
    random_state=0
)

X_train.shape, X_test.shape

((28829, 3), (12356, 3))

#### __Integer Encoding__

In [41]:
X_train_ing = X_train.copy()
X_test_ing = X_test.copy()

In [42]:
ordinal_enc = ce.OrdinalEncoder(
    encoding_method='arbitrary',
    variables=cat_many)

ordinal_enc.fit(X_train_ing)

OrdinalEncoder(encoding_method='arbitrary',
               variables=['job', 'education', 'month'])

In [43]:
X_train_ing = ordinal_enc.transform(X_train_ing)
X_test_ing = ordinal_enc.transform(X_test_ing)

In [44]:
X_train_ing.head()

       job  education  month
19618    0          0      0
1518     1          1      1
34980    0          0      1
24958    2          2      2
16697    0          3      3

#### __Count Encoding__

In [45]:
X_train_cont = X_train.copy()
X_test_cont = X_test.copy()

In [46]:
count_enc = ce.CountFrequencyEncoder(
    encoding_method='count', # to do frequency -> encoding_method='frequency'
    variables=cat_many)

count_enc.fit(X_train_cont)

CountFrequencyEncoder(variables=['job', 'education', 'month'])

In [47]:
X_train_cont = count_enc.transform(X_train_cont)
X_test_cont = count_enc.transform(X_test_cont)

In [48]:
X_train_cont.head()

        job  education  month
19618  7336       6736   4303
1518   2018       8506   9621
34980  7336       6736   9621
24958  4689       3607   2834
16697  7336       1597   5082

#### __Evaluate Random Forest Performances and Logistic Regression Performances__

In [49]:
# Integer encoding
run_RFs(X_train_ing, X_test_ing, y_train, y_test)

Train set
Random Forests roc-auc: 0.670023601642501
Test set
Random Forests roc-auc: 0.6782582515605163

In [50]:
# counts
run_RFs(X_train_cont, X_test_cont, y_train, y_test)

Train set
Random Forests roc-auc: 0.6730713335609252
Test set
Random Forests roc-auc: 0.6831202978592097

In [51]:
# Integer encoding
run_logit(X_train_ing, X_test_ing, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.6361388420975468
Test set
Logistic Regression roc-auc: 0.626484596055814

In [52]:
# counts
run_logit(X_train_cont, X_test_cont, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.6478853919476929
Test set
Logistic Regression roc-auc: 0.6598620119246278

For categories which have more than 5 labels, count encoding is better than integer encoding.

### Conclusion

I performed one-hot-encoding, label encoding and count encoding for cateogrical variables to explore which technique is good for this dataset. 

Given the results above, label encoding or count encoding is the best for this. 
Overall count encoding showed improved scores in test set.

## Feature scaling technique for numerical variables

Feature scaling is important because similar scales help machine learning models decrease the time to learn data. Also, some machine learning models (e.g. linear models, SVM) are sensitive to the scale of the variable. 

I will perform several feature scaling techniques, and explore which feature scaling method is the best for this dataset.

In [53]:
num_vars

['duration',
 'campaign',
 'previous',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed']

In [58]:
variables = ['duration','campaign', 'previous', 'emp.var.rate',
             'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y']

In [64]:
tmp = data[variables]
tmp.head()

,duration,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,261,1,0,1.1,93.994,-36.4,4.857,5191.0,no
1,149,1,0,1.1,93.994,-36.4,4.857,5191.0,no
2,226,1,0,1.1,93.994,-36.4,4.857,5191.0,no
3,151,1,0,1.1,93.994,-36.4,4.857,5191.0,no
4,307,1,0,1.1,93.994,-36.4,4.857,5191.0,no

In [65]:
# change target variable (no, yes) to numerical values (0, 1)
tmp[target] = tmp[target].map({'no': 0,
                              'yes': 1})

In [66]:
tmp.head()

,duration,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,261,1,0,1.1,93.994,-36.4,4.857,5191.0,0
1,149,1,0,1.1,93.994,-36.4,4.857,5191.0,0
2,226,1,0,1.1,93.994,-36.4,4.857,5191.0,0
3,151,1,0,1.1,93.994,-36.4,4.857,5191.0,0
4,307,1,0,1.1,93.994,-36.4,4.857,5191.0,0

In [67]:
# separate train and test data
X_train, X_test, y_train, y_test = train_test_split(
    tmp.drop(target, axis=1),
    tmp[target],
    test_size=0.3,
    random_state=0
)

X_train.shape, X_test.shape

((28829, 8), (12356, 8))

### Standardization

Standardization involves centering the variable at zero, and standardizing the variance to 1. The procedure involves subtracting the mean of each observation and then dividing by the standard deviation.

The shape of a standardized distribution will be identical to the original distribution of the variable. If the original distribution is normal, then the standardized distribution will be normal. But, if the original distribution is skewed, then the standarized distribution of the varialbe will also be skewed. Thus, standardizing a variable does not normalize the distribution of the data.

In [85]:
# the scaler 
from sklearn.preprocessing import (
    StandardScaler, 
    RobustScaler,
    MinMaxScaler,
    MaxAbsScaler,
    RobustScaler,
)

In [68]:
# copy dataset
X_train_stand = X_train.copy()
X_test_stand = X_test.copy()

# set up the scaler
standard_scaler = StandardScaler()

# fit the scaler to the train set, it will learn the parameters
standard_scaler.fit(X_train_stand)

# transform train and test set
X_train_stand = standard_scaler.transform(X_train_stand)
X_test_stand = standard_scaler.transform(X_test_stand)

In [70]:
# transform the returned Numpy arrays to dataframes 
X_train_stand = pd.DataFrame(X_train_stand, columns=X_train.columns)
X_test_stand = pd.DataFrame(X_test_stand, columns=X_test.columns)

In [71]:
np.round(X_train_stand.describe(), 1)

,duration,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0
mean,-0.0,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-1.0,-0.6,-0.3,-2.2,-2.4,-2.2,-1.7,-2.8
25%,-0.6,-0.6,-0.3,-1.2,-0.9,-0.5,-1.3,-0.9
50%,-0.3,-0.2,-0.3,0.6,0.4,-0.3,0.7,0.3
75%,0.2,0.2,-0.3,0.8,0.7,0.9,0.8,0.8
max,13.6,14.5,14.1,0.8,2.1,2.9,0.8,0.8

### Mean normalization

Mean normalization involves centering the variable at zero, and re-scaling to the value range. The procedure involves subtracting the mean of each observation and then dividing by difference between the minimum and maximum value.

Like standardization, this technique will not normalize the distribution of the data.

In [74]:
# copy dataset
X_train_mean = X_train.copy()
X_test_mean = X_test.copy()

# set up the StandardScaler so that it removes the mean
# but does not divide by the standard deviation
scaler_mean = StandardScaler(with_mean=True, with_std=False)

# set up the robustscaler so that it does NOT remove the median
# but normalizes by max()-min(), importnat for this to set up
# the quantile range to 0 and 100, which represent the min and max values
scaler_minmax = RobustScaler(with_centering=False,
                            with_scaling=True,
                            quantile_range=(0,100))

# fit the scalers to the train set, it will learn the parameters
scaler_mean.fit(X_train_mean)
scaler_minmax.fit(X_train_mean)

# transform train and test sets
X_train_mean = scaler_minmax.transform(scaler_mean.transform(X_train_mean))
X_test_mean = scaler_minmax.transform(scaler_mean.transform(X_test_mean))

In [75]:
# create dataframe
X_train_mean = pd.DataFrame(X_train_mean, columns=X_train.columns)
X_test_mean = pd.DataFrame(X_test_mean, columns=X_test.columns)

In [76]:
np.round(X_train_mean.describe(), 1)

,duration,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0
mean,-0.0,-0.0,0.0,-0.0,-0.0,-0.0,-0.0,-0.0
std,0.1,0.1,0.1,0.3,0.2,0.2,0.4,0.3
min,-0.1,-0.0,-0.0,-0.7,-0.5,-0.4,-0.7,-0.8
25%,-0.0,-0.0,-0.0,-0.4,-0.2,-0.1,-0.5,-0.3
50%,-0.0,-0.0,-0.0,0.2,0.1,-0.1,0.3,0.1
75%,0.0,0.0,-0.0,0.3,0.2,0.2,0.3,0.2
max,0.9,1.0,1.0,0.3,0.5,0.6,0.3,0.2

### MinMaxScaling

Minimum and maximum scaling squeezes the vales between 0 and 1. The result of the transformation is a distribution which values vary within the range of 0 to 1. But the mean is not centered at zero and the standard deviation varies across variables. The shpae of a min-max scaled distribution will be similar to the original variable. This scaling technique is also sensitive to outliers.

In [78]:
# copy dataset
X_train_minmax = X_train.copy()
X_test_minmax = X_test.copy()

# set up scaler
scaler_minmax = MinMaxScaler()


# fit the scalers to the train set, it will learn the parameters
scaler_minmax.fit(X_train_minmax)


# transform train and test sets
X_train_minmax = scaler_minmax.transform(scaler_minmax.transform(X_train_minmax))
X_test_minmax = scaler_minmax.transform(scaler_minmax.transform(X_test_minmax))

In [79]:
# create dataframe

X_train_minmax = pd.DataFrame(X_train_minmax, columns=X_train.columns)
X_test_minmax = pd.DataFrame(X_test_minmax, columns=X_test.columns)

In [80]:
np.round(X_train_minmax.describe(), 1)

,duration,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0
mean,0.0,-0.0,0.0,0.9,-35.7,2.1,0.0,-18.8
std,0.0,0.0,0.0,0.1,0.1,0.0,0.1,0.0
min,0.0,-0.0,0.0,0.7,-35.9,2.1,-0.1,-18.8
25%,0.0,-0.0,0.0,0.8,-35.8,2.1,-0.1,-18.8
50%,0.0,-0.0,0.0,0.9,-35.7,2.1,0.1,-18.8
75%,0.0,-0.0,0.0,0.9,-35.7,2.2,0.1,-18.8
max,0.0,-0.0,0.1,0.9,-35.5,2.2,0.1,-18.8

### MaxAbsScaling

Maximum Absolute Scaling transforms the data to its absolute maximum value. The result is distributed which values vary within the range of -1 to 1. But the mean is not centered as zero and the standard deviation varies across variables. 

This may not preserve the shape of the original distribution and it is sensitive outliers.

In [82]:
# copy dataset
X_train_maxabs = X_train.copy()
X_test_maxabs = X_test.copy()

# set up the scale
scaler_maxabs = MaxAbsScaler()

# fit the train set
scaler_maxabs.fit(X_train_maxabs)

# transform
X_train_maxabs = scaler_maxabs.transform(X_train)
X_test_maxabs = scaler_maxabs.transform(X_test)

In [83]:
# create dataframe
X_train_maxabs = pd.DataFrame(X_train_maxabs, columns=X_train.columns)
X_test_maxabs = pd.DataFrame(X_test_maxabs, columns=X_test.columns)

In [84]:
np.round(X_train_maxabs.describe(), 1)

,duration,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0
mean,0.1,0.1,0.0,0.0,1.0,-0.8,0.7,1.0
std,0.1,0.1,0.1,0.5,0.0,0.1,0.3,0.0
min,0.0,0.0,0.0,-1.0,1.0,-1.0,0.1,0.9
25%,0.0,0.0,0.0,-0.5,1.0,-0.8,0.3,1.0
50%,0.0,0.0,0.0,0.3,1.0,-0.8,1.0,1.0
75%,0.1,0.1,0.0,0.4,1.0,-0.7,1.0,1.0
max,1.0,1.0,1.0,0.4,1.0,-0.5,1.0,1.0

### RobustScaling

RobustScaling removes the median from the observations and then scaled to the inter-quantile range (IQR). This produces more robust estimates for the center and range of the variable, and is recommended if the data shows outliers (and our dataset has outliers). 

It may not preserve the shape of the original distribution, and the minimum and maximum values vary, but is robust outliers.

In [94]:
# copy dataset
X_train_robust = X_train.copy()
X_test_robust = X_test.copy()

# set up the scaler
scaler_robust = RobustScaler()

# fit training set
scaler_robust.fit(X_train_robust)

# transform
X_train_robust = scaler_robust.transform(X_train_robust)
X_test_robust = scaler_robust.transform(X_test_robust)

# save as dataframe
X_train_robust = pd.DataFrame(X_train_robust, columns=X_train.columns)
X_test_robust = pd.DataFrame(X_test_robust, columns=X_test.columns)

In [95]:
np.round(X_train_robust.describe(), 1)

,duration,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0,28829.0
mean,0.4,0.3,0.2,-0.3,-0.2,0.2,-0.3,-0.2
std,1.2,1.4,0.5,0.5,0.6,0.7,0.5,0.6
min,-0.8,-0.5,0.0,-1.4,-1.7,-1.4,-1.2,-1.8
25%,-0.4,-0.5,0.0,-0.9,-0.8,-0.1,-1.0,-0.7
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.6,0.5,0.0,0.1,0.2,0.9,0.0,0.3
max,16.6,20.5,7.0,0.1,1.1,2.4,0.1,0.3

### Evaluate Random Forests and Logistic Regression Performances

In [96]:
# without scaling
run_RFs(X_train, X_test, y_train, y_test)

Train set
Random Forests roc-auc: 0.9141014764603407
Test set
Random Forests roc-auc: 0.9186808767290485

In [89]:
# standardization
run_RFs(X_train_stand, X_test_stand, y_train, y_test)

Train set
Random Forests roc-auc: 0.9141012665709475
Test set
Random Forests roc-auc: 0.9186808767290485

In [90]:
# mean normalization
run_RFs(X_train_mean, X_test_mean, y_train, y_test)

Train set
Random Forests roc-auc: 0.9141014764603407
Test set
Random Forests roc-auc: 0.9186808767290485

In [91]:
# MinMaxScaling
run_RFs(X_train_minmax, X_test_minmax, y_train, y_test)

Train set
Random Forests roc-auc: 0.9067464663741359
Test set
Random Forests roc-auc: 0.9097793158556194

In [92]:
# MaxAbsScaling
run_RFs(X_train_maxabs, X_test_maxabs, y_train, y_test)

Train set
Random Forests roc-auc: 0.9141014764603407
Test set
Random Forests roc-auc: 0.9186800504293983

In [97]:
# RobustScaling
run_RFs(X_train_robust, X_test_robust, y_train, y_test)

Train set
Random Forests roc-auc: 0.9141014764603407
Test set
Random Forests roc-auc: 0.9186808767290485

Given the results above, I can choose any scaling methods other than MinMaxScaling if I use tree-based models.

In [98]:
# without scaling
run_logit(X_train, X_test, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.9158978478157493
Test set
Logistic Regression roc-auc: 0.9161055320827696

In [99]:
# standardization
run_logit(X_train_stand, X_test_stand, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.9162705394162205
Test set
Logistic Regression roc-auc: 0.9166123512363162

In [100]:
# mean normalization
run_logit(X_train_mean, X_test_mean, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.8408142110902965
Test set
Logistic Regression roc-auc: 0.8440960295045824

In [101]:
# MinMaxScaling
run_logit(X_train_minmax, X_test_minmax, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.714735799387382
Test set
Logistic Regression roc-auc: 0.7312258109040353

In [102]:
# MaxAbsScaling
run_logit(X_train_maxabs, X_test_maxabs, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.8430917748688468
Test set
Logistic Regression roc-auc: 0.8507376938862551

In [103]:
# RobustScaling
run_logit(X_train_robust, X_test_robust, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.916684201426269
Test set
Logistic Regression roc-auc: 0.917356549753419

Different scales in variables can influnce to linear models, so as we can see the results above, some techniques makde performance worst. 

Overall, I will use StandardScaler for further process.